<ion-view view-title="Profile">
  <link rel="stylesheet" type="text/css" href="../stylesheets/profile/mainProfile.css">
<!--  www/template/tab-profile  -->
  <ion-content class="bnsprofilepage">

    <div class="row" style="padding: 0px;">
      <div class="backgroundImg">
        <img style="width:369px;" src="{{backgroundImg}}">
      </div>
    </div>
    <div class="row">
      <div class="profileImg">
        <img src="{{profileImg}}" style="border-radius: 35px;">
      </div>
    </div>
    <div class="row">
      <div class="tabs">
        <button ng-click="testJqu()" class="button">Test</button>
        <p id="e">
          This is the paragraph to end all paragraphs.  You
          should feel <em>lucky</em> to have seen such a paragraph in
          your life.  Congratulations!
        </p>
      </div>
    </div>
  </ion-content>

</ion-view>

