<ion-view view-title="Profile">
  <link rel="stylesheet" type="text/css" href="../stylesheets/profile/mainProfile.css">
  <!--  www/template/tab-profile  -->
  <ion-content class="bnsprofilepage">

    <div class="row" style="padding: 0px;">
      <div class="backgroundImg">
        <img src="{{backgroundImg}}">
      </div>
    </div>
    <div class="row">
      <div class="profileImg">
        <img src="{{profileImg}}" style="border-radius: 35px;">
      </div>
    </div>
    <ion-list dir="rtl">
      <div ng-repeat="group in userInfo">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
          <i class="icon iconCustom" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
         <span class="iconName"><b>{{group.name}}</b></span>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in group.items"
                  ng-show="isGroupShown(group)">
          <!--<i class="icon" ng-class="iconHobby(group) ? '':'' "></i>-->
          {{item}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

</ion-view>
