<ion-view view-title="Profile">
  <link rel="stylesheet" type="text/css" href="../stylesheets/profile/mainProfile.css">
<!--  www/template/tab-profile  -->
  <ion-content class="bnsprofilepage">

    <div class="row" style="padding: 0px;">
      <div class="backgroundImg">
        <img style="width:369px;" src="{{backgroundImg}}">
      </div>
    </div>
    <div class="row">
      <div class="profileImg">
        <img src="{{profileImg}}" style="border-radius: 35px;">
      </div>
    </div>
    <div class="row">
      <div class="tabs">
      </div>
    </div>
  </ion-content>

</ion-view>

