<!--  www/template/tabs  -->
<ion-view>
  <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top bnsTabs">

    <!-- Social articles Tab -->
    <ion-tab title="Articles" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="tab/articles">
      <ion-nav-view name="tab-articles"></ion-nav-view>
    </ion-tab>

    <!-- Filter Tab -->
    <ion-tab title="Filter" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="tab/filter">
      <ion-nav-view name="tab-filter"></ion-nav-view>
    </ion-tab>

    <!-- Calendar Tab -->
    <ion-tab title="Calendar" icon-off="ion-calendar" icon-on="ion-calendar" href="tab/calendar">
      <ion-nav-view name="tab-calendar"></ion-nav-view>
    </ion-tab>

    <!-- Notification Tab -->
    <ion-tab title="Notification" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications-none" href="tab/notification">
      <ion-nav-view name="tab-notification"></ion-nav-view>
    </ion-tab>

    <!-- User Profile Tab -->
    <ion-tab icon="bnsUserProfileTab" class="profile" href="tab/profile">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>


  </ion-tabs>

</ion-view>

